<div class="csv-preview-convert-popup-overlay">
    <div class="csv-preview-convert-popup-content">
        {% include '@CsvPreviewConvert/includes/_csv_preview_convert_popup_content.html.twig' %}
    </div>
</div>