{# The button used to open this popup needs 'csv-preview-convert-open-popup' id #}
{# ex: <button id="csv-preview-convert-open-popup">Open popup</button> #}

<div id="csv-preview-convert--popup" class="csv-preview-convert-popup-overlay" style="display: none;">
    <div class="csv-preview-convert-popup-content">
        {% include '@csvpreviewconvert/includes/_csv_preview.html.twig' %}
        <button class="csv-preview-convert-btn-gray" id="csv-preview-convert-close-popup">Fermer</button>
    </div>
</div>